<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong> <br>
  <%= @post.title %>
</p>

<p>
  <strong>Title:</strong> <br>
  <%= @post.content %>
</p>

<% if(@post.file.attached?) %>
  <p>
    <strong>File:</strong> <br>
    <%= image_tag rails_storage_proxy_path(@post.file) %>
  </p>
<% end %>

<% if(@post.cover.attached?) %>
  <p>
    <strong>Cover:</strong> <br>
    <%= image_tag rails_storage_proxy_path(@post.cover) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
